<h1 class="page-header text-center">Survey Central</h1>

<a href="/surveys" class="btn btn-default" role="button">Make Surveys</a>
<a href="/collect/surveys" class="btn btn-default" role="button">Take Surveys</a>
