<h1 class="page-header text-center">Surveys</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form action="/surveys" method="post">
      <h4>Add a new survey:</h4>
      <div class="form-group">
        <input name="title" class="form-control" required autofocus>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <div class="push-down">
      <h4>Surveys:</h4>

      <table class="table">
      <% @surveys.each() do |survey| %>
        <tr>
          <td class="primary">
            <a href="/surveys/<%= survey.id() %>"><%= survey.title() %></a>
          </td>
          <td>
            <form action="/surveys/<%= survey.id() %>" method='post'>
              <input name="_method" type="hidden" value="delete">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% end %>
    </table>
    </div>


  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-8 col-sm-offset-2"
    <h4>Add a new survey:</h4>
  </div>
</div> -->
